<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
<script src="testDirective.js"></script>
<script src="addController.js"></script>
<script src="BookService.js"></script>
<script src="getController.js"></script>
<script src="deleteController.js"></script>
<script src="updateController.js"></script>
<script src="newController.js"></script>
<script src="newService.js"></script>
<head>
    <meta charset="UTF-8"/>
    <title>Main page</title>
</head>
<body>
<div ng-app="MyFirstApp">
    <!--<div ng-controller="update">-->
    Name: <input type="text" ng-model="name"/><br/>
    Author: <input type="text" ng-model="author"/><br/>
    <!--<div ng-controller="addBook">-->
    <button type="button" ng-click="addOneBook()">Add</button>
    <button type="button" ng-click="addWithService()">Add with service</button>
    <!--</div>-->
    <!--<div ng-controller="getBook">-->
    <button type="button" ng-click="getAllBooks()">Display</button>
    <!--<div ng-controller="delete">-->
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th width="20%"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="u in bookList">
            <td><span ng-bind="u.id"></span></td>
            <td><span ng-bind="u.title"></span></td>
            <td><span ng-bind="u.author"></span></td>
            <td>
                <button type="button" ng-click="deleteBook(u.id)">Delete</button>
                <button type="button" ng-click="updateBook(u.id)">Update</button>
                <button type="button" ng-click="updateWithService(u.id)">Update with Service</button>
            </td>
        </tr>
        </tbody>
    </table>
    <test-directive></test-directive>
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>
</body>
</html>